<div class="container" [formGroup] = "user">
  <div class="form-group">
    <label for="Name">Name:</label>
    <input type="name" class="form-control" 
     id="email" formControlName = "name">
  
    <span class="text text-danger" *ngIf = 'isNameInvalid'> {{nameValidationMessage}} </span>
      
  </div>

  <div class="form-group">
    <label for="surname">Surname:</label>
    <input type="surname" class="form-control"
     id="pwd" formControlName = "surname">
    <span class="text text-danger" *ngIf = "isSurnameInvalid">
      {{surnameValidationMessage}} 
    </span>
  </div>
  
  <div class="form-group">
    <label for="email">Email Address:</label>
    <input type="email" class="form-control"
     id="email" formControlName = "email">
    <span class="text text-danger" *ngIf = 'isEmailInvalid'>
      Please Enter Valid Email Address
    </span>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Submit</button>

</div> 

<pre>
  Value   : {{user.value|json}}
  Status  : {{user.status|json}}
  Touched : {{user.touched|json}}

  {{this.user.controls['name'].errors|json}}

</pre>